<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <log4net>
    <appender name="SizeRollingLogToFile" type="log4net.Appender.RollingFileAppender">
      <File value="C:\Temp\PokudaSearch.log" />
      <AppendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%username %d [%t] %-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="DebugAppender" type="log4net.Appender.DebugAppender">
      <layout type="log4net.Layout.PatternLayout">
        <ConversionPattern value="%username %d [%t] %-5p %c - %m%n" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <!-- コード内で定義しないと動作しない(フォームのインスタンスが起動時には存在しないため) -->
    <!--
    <appender name="TextBoxAppenderEx" type="FxCommonLib.Log4NetAppender.TextBoxAppenderEx, FxCommonLib">
      <formName value="IndexBuildForm" />
      <textBoxName value="Log4NetTextBox" />
      <maxLines value="1000" />
      <prefixFilter value="IndexingThread1" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="&gt;&gt; - %message" />
      </layout>
    </appender>
    -->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="SizeRollingLogToFile" />
      <appender-ref ref="DebugAppender" />
      <!--
      <appender-ref ref="MSTeamsAppender" />
      -->
      <!--
      <appender-ref ref="SmtpAppender" />
      -->
    </root>
  </log4net>
</configuration>
