<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM" version="8.1.5717.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Core" version="1.1.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAPICodePack.Shell" version="1.1.0" targetFramework="net45" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net45" />
  <package id="NetOffice.PowerPoint" version="1.7.4.4" targetFramework="net45" />
  <package id="NetOffice.Word" version="1.7.4.4" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.110.0" targetFramework="net45" />
  <package id="TikaOnDotnet" version="1.17.1" targetFramework="net45" />
  <package id="TikaOnDotnet.TextExtractor" version="1.17.1" targetFramework="net45" />
</packages>